{% extends "base.html.twig" %}
{% block h1 %}{{ livre.titre }}{% endblock %}
{% block body %}
    <a class="btn btn-dark" href="{{ path('afficherLivreName') }}">Retour</a>

    {# {{ dump(produit) }} #}

    <table class="table table-hover mt-3">

        <tr>
            <th>ID</th>
            <td>{{ livre.id }}</td>
        </tr>

        <tr>
            <th>Titre</th>
            <td>{{ livre.titre|capitalize  }}</td>
        </tr>

        <tr>
            <th>1ère de couverture</th>
            <td>
                {% if livre.couv1 %}
                    {{ livre.couv1|capitalize }}
                {% else %}
                    <span class="fst-italic text-danger">Non renseignée</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>4ème de couverture</th>
            <td>
                {% if livre.couv4 %}
                    {{ livre.couv4|capitalize }}
                {% else %}
                    <span class="fst-italic text-danger">Non renseignée</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Résumé</th>
            <td>
                {% if  livre.resumeLivre %}
                    {{ livre.resumeLivre}}
                {% else %}
                    <span class="fst-italic text-danger">Non renseignée</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Format</th>
            <td>
                {% if  livre.format %}
                    {{ livre.format|capitalize }}
                {% else %}
                    <span class="fst-italic text-danger">Non renseignée</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>Nombre de pages</th>
            <td>{{ livre.nbPage }}</td>
        </tr>
        
    </table>



{% endblock %}
